<div class="container text-center" style="width: 100%; height: 100%; padding: 0; margin: 0;">
    <footer style="height: 10%;" class="separator">

        <nav class="row d-flex justify-content-center align-items-center" style="width: 100%; height: 100%; padding: 0; margin: 0;">
            <span class="text-end col-md-3 ">
                <h1 style="display: inline-block; font-weight: bold;">Medium</h1>&nbsp;
            </span>
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="display: inline-block;">
                <span>Our story</span>&nbsp;
                <span>Membership</span>&nbsp;
                <span>Write</span>&nbsp;
                <span>Sign in</span>&nbsp;
            </div>
            <div class=" col-md-3" style="display: inline-block;">
                <button  class="btn buttons" style="background-color: black;">Get started</button>&nbsp;
            </div>
        </nav>
    </footer>
    
    
    <main style="height: 70%;" class="text-start separator">
      <div class="row">
        <div class="col-md-5">
            <div style="font-weight: bold;">
                <h1>Human</h1>
                <h1>Stroies&ideas</h1>
            </div>
            <p style="font-size: 25px;">A place to read, write, and deepen your understanding</p>
            <button class="btn buttons" style="background-color: green;">Start reading</button>
        </div>
    
        <div class="col-md-4 image-column">
            <!-- . <br><br><br><br> -->
        </div>
      </div>
    </main>
    
    
    <footer class="align-bottom text-center" style="height: 15%;">
        <a href="#">About</a>&nbsp;
        <a href="#">Help</a>&nbsp;
        <a href="#">Terms</a>&nbsp;
        <a href="#">Privacy</a>&nbsp;
    </footer>
</div>