
:host {
     display: block;
    /*height: 100vh; Full viewport height */
    background-color: #F5EEE6;/* Example background */
    margin: 0; /* Ensure no margin */
    overflow: scroll;
}

html, body {
    height: 100%; /* Ensure the entire page can use full height */
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Prevent scrolling */
    /* box-sizing: border-box; */
}
*{
    /* box-sizing: border-box; */
}

@font-face {
  font-family: my-font;
  src: url('/public/Merriweather-BlackItalic.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
}

 .masthead {
  background-size: contain;
  background-position:bottom right; 
  min-height: 70vh; 
  width: 100%; 
  background-repeat: no-repeat; 
}
 

.buttons{
    font-size: 10px;
    color: white;
    border-radius: 40px;
    font-weight: lighter;
}
.separator {
  border-bottom: 2px solid black;
}
  /* Ensures the footer stays at the bottom of the page */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  
  footer {
    padding: 20px 0;
  }
  
  .separator {
    margin-bottom: 20px;
  }
  
  .footer-btn {
    background-color: black;
  }
  
  .image-column {
    height: 100%;
    /* Add any background image or styles here */
  }
  
  
  /* Responsive Design */
  /* @media (max-width: 400px) {
    .baseStatement{
      font-size: 5px;
      font-weight: lighter;
      color: red;
    }
  } */
  @media (max-width: 576px) {
    .separator {
      margin-bottom: 10px;
    }
  
    footer{
      background-color: black;
      color: white;
    }
    .login{
      display: none;
    }
    .baseStatement{
      font-size: 50px;
    }
    .buttons{
      font-size: 10px;
    }
  }
  @media (min-width: 576px) {
    .baseStatement{
      font-size: 60px;
    }
    .buttons{
      font-size: 20px;
    }
  }
  @media (min-width: 768px) {
    .baseStatement{
      font-size: 70px;
    }
    :host{
      overflow: hidden;
    }
  }
  @media (min-width: 992px) {
    .baseStatement{
      font-size: 75px;
    }
    .baseButton{
      background-color: black;
      font-size: 30px;
    }
   
  }
  @media (min-width: 1025px) {
    .baseStatement{
      font-size: 90px;
    }
  }
  @media (min-width: 150px) {
    .baseStatement{
      font-size: 110px;
    }
  }
  